body {
    
}

div.container {
    width: 40em;
    margin: 2% auto;
    padding: 10px 10px 10px;
}

div.header {
    width: 40em;
    margin: 2% auto;
    padding: 0px 0px 0px;
    text-align: centered;
    /*#background: #eff4f8;*/
}

div.content {
    width: 30em;
    margin: 2% auto;
    padding: 10px 10px 10px;
    text-align: justified;
    font-family: "Droid Serif";
    /*#background: #eff4f8;*/
}

div.nav {
    width: 20em;
    margin: 2% auto;
    padding: 0px 0px 0px;
    text-align: centered;
}

h1.name {
    font-family: "Droid Serif", serif;
    text-align:center;
}

.footer_sep{
    color:#909090;
}


#email{
/*    font-family: "Courier New";*/
    font-family: "Droid Serif";
    text-align:center;
    font-size:15px;
}


.centered {
    text-align: center;
}

.centered_image {
    display: block;
    margin: 0 auto;
}

ul.navbar {
    list-style-type : none;
}

ul.navbar li {
    font-family: "Droid Serif", serif;
    color:#808080;
    font-size:15px;
}

#navbar {
    font-family: "Droid Serif", serif;
    color:#808080;
    font-size:15px;
}